<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Temas</h5>
        <hr>
        <div class="r-panel-body">

            <ul id="themecolors" class="m-t-20">
                <li><b>Sidebar claro</b></li>
                <li><a #link1 #selector (click)="changeTheme('default', link1)" data-theme="default" class="default-theme">1</a></li>
                <li><a #link2 #selector (click)="changeTheme('green', link2)" data-theme="green" class="green-theme">2</a></li>
                <li><a #link3 #selector (click)="changeTheme('red', link3)" data-theme="red" class="red-theme">3</a></li>
                <li><a #link4 #selector (click)="changeTheme('blue', link4)" data-theme="blue" class="blue-theme">4</a></li>
                <li><a #link5 #selector (click)="changeTheme('purple', link5)" data-theme="purple" class="purple-theme">5</a></li>
                <li><a #link6 #selector (click)="changeTheme('megna', link6)" data-theme="megna" class="megna-theme">6</a></li>

                <li class="d-block m-t-30"><b>Sidebar oscuro</b></li>
                <li><a #link7  #selector (click)="changeTheme('default-dark', link7)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                <li><a #link8  #selector (click)="changeTheme('green-dark', link8)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                <li><a #link9  #selector (click)="changeTheme('red-dark', link9)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                <li><a #link10 #selector (click)="changeTheme('blue-dark', link10)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                <li><a #link11 #selector (click)="changeTheme('purple-dark', link11)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                <li><a #link12 #selector (click)="changeTheme('megna-dark', link12)" data-theme="megna-dark" class="megna-dark-theme">12</a></li>
            </ul>

        </div>

      </div>
    </div>
  </div>
</div>
